body {
    margin: 0;
    background: radial-gradient(rgb(50, 60, 129), rgb(11, 5, 31));
    
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 10px;
    border: 5px solid #1f1f1f;
    border: 30px outset rgb(44, 44, 44);
    box-shadow: 2px 3px 20px 8px rgb(0 0 0 / 38%);
    background-color: #000000;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    position: absolute;
    
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
    cursor: pointer;
    border: 10px outset rgb(44, 44, 44);
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
    cursor: pointer;
    border: 10px outset rgb(44, 44, 44);

}

.yellow {
    grid-area: amarelo;
    background-color: rgb(207, 207, 12);
    border-bottom-left-radius: 100%;
    cursor: pointer;
    border: 10px outset rgb(44, 44, 44);
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
    cursor: pointer;
    border: 10px outset rgb(44, 44, 44);
}

.selected {
    
    filter: blur(10px);
    cursor: pointer;
    border: none;
    
}
#autor {
    background-color: rgb(53, 53, 53);
    position: absolute;
    color: rgb(221, 221, 221);
    top: 10%;
    left: 1%;
    text-transform: uppercase;
    font: 13px "Lato", sans-serif;
    padding: 10px 10px 0px 10px;
    border-radius: 9px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
}


